@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background: rgb(115, 64, 186);
  background: linear-gradient(
    323deg,
    rgba(115, 64, 186, 1) 0%,
    rgba(222, 49, 123, 1) 44%,
    rgba(251, 203, 117, 1) 100%
  );
}

body {
  margin: 0px;
}

.inset-border {
  background: rgb(231, 107, 130, 0.3);
  box-shadow:
    inset 10px 10px 10px #eb8c9a,
    inset 0px 0px 15px #b35489;
}

.carousel-container {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.carousel-item {
  scroll-snap-align: center;
  height: 60vh;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.carousel-item.active {
  transform: scale(1);
  opacity: 1;
}

.carousel-item:not(.active) {
  transform: scale(0.8);
  opacity: 0.6;
}
